.header {
  display: flex;
  overflow: auto;
}
.header__wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 92px;
  justify-content: center;
}
.header__link-wrapper {
  display: none;
}
.header__link {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 100%;
  padding: 16px 12px;
}
.header__burger {
  display: none;
}
.header__burger-checkbox {
  display: none;
}
@media (max-width: 700px) {
  .header__wrapper {
    height: 64px;
  }
  .header__burger {
    align-items: center;
    background-color: var(--accent-color);
    border: 0;
    border-radius: 3px;
    color: var(--text-color);
    color: var(--text-reverse-color);
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: 3px;
    justify-content: center;
    left: 0;
    outline: 0;
    padding: 0 16px;
    position: absolute;
    top: 16px;
    transform-origin: center;
    transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
    width: 33px;
    z-index: 2;
  }
  .header__burger::before {
    background-color: var(--accent-color);
    border-radius: 2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: -10px;
    transform: scale(0.7, 1);
    transform-origin: center;
    transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
    width: 100%;
  }
  .header__burger::after {
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -10px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transform: scale(0.8, 1);
    transform-origin: center;
    transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
    width: 100%;
  }

  .header--checked .header__burger {
    background-color: transparent;
    transform: rotate(45deg);
  }
  .header--checked .header__burger::before {
    transform: rotate(90deg) translateX(12px);
  }
  .header--checked .header__burger::after {
    transform: rotate(0deg) translateY(-8px);
  }

  .header__link-wrapper {
    border: 0;
    display: flex;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .header--checked .header__link-wrapper {
    background-color: var(--background);
    opacity: 0.8;
    pointer-events: initial;
    transform: translateX(0);
  }

  .header__link {
    align-items: stretch;
    background-color: var(--white);
    box-shadow: 0px 0px 10px var(--accent-color-light);
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    max-width: 80%;
    opacity: 0;
    padding-top: 72px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: all 0 ease 1s;
    transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
    width: 300px;
    z-index: 1;
  }
  .header__burger-checkbox {
    display: block;
    height: 40px;
    left: 16px;
    margin: 0;
    position: absolute;
    top: 16px;
    width: 40px;
    z-index: 3;
  }
  .header--checked .header__link {
    display: flex;
    opacity: 1;
    pointer-events: initial;
    transform: translateX(0);
  }
}
