.HeaderLink {
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  outline: 0;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
.HeaderLink::before {
  color: var(--text-color);
  content: "·";
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.HeaderLink::after {
  color: var(--text-color);
  content: "·";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(50%, -50%, 0);
}

.HeaderLink:hover,
.HeaderLink:focus,
.HeaderLink.Active,
.HeaderLink.Active::before,
.HeaderLink.Active::after {
  color: var(--accent-color);
}

.Active {
  z-index: 1;
}
