.BiographySkill {
  display: inline-block;
  line-height: 1.5;
  padding: 3px 11px 3px 11px;
  position: relative;
  white-space: nowrap;
}

.BiographySkill::after {
  color: var(--accent-color);
  content: "·";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(50%, -50%, 0);
}

.BiographySkill:first-child:before {
  color: var(--accent-color);
  content: "·";
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
