.block-title {
  font-family: var(--serif);
  font-size: 26px;
  font-weight: 400;
  grid-column: 1 / -1;
  grid-row: 1;
  letter-spacing: -0.01em;
  line-height: normal;
  margin: 16px 0;
  text-align: center;
  width: 100%;
}
