.TableGrid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 32px;
}

.memoryTableGame {
  margin-top: 32px;
}

.memoryTableGameValue {
  color: var(--accent-color);
}

.memoryTableGameSubmit {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.memoryTableGameError {
  border-color: var(--error-text-color);
}
