{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
