{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-prettier/recommended",
    "stylelint-config-css-modules"
  ],
  "plugins": ["stylelint-prettier", "stylelint-order"],
  "rules": {
    "prettier/prettier": true,
    "order/properties-alphabetical-order": true,
    "property-no-unknown": [true, {
      ignoreProperties: ["content-visibility"]
    }]
  }
}
