.line-card {
  align-items: center;
  background-color: var(--background-dp1);
  border-radius: 8px;
  color: inherit;
  content-visibility: auto;
  cursor: unset;
  display: flex;
  fill: var(--text-color);
  gap: 16px;
  margin: 0 auto 16px auto;
  max-width: 100%;
  outline: 0;
  padding: 16px;
  text-decoration: none;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  width: 450px;
}
.line-card[href] {
  cursor: pointer;
}
.line-card:hover,
.line-card:focus {
  box-shadow: 0 0 3px var(--accent-color);
}
