.card {
  background-color: var(--background-dp1);
  border-radius: 8px;
  margin: 16px auto 16px auto;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 16px;
  width: 800px;
  word-break: break-all;
}
