.biography-avatar {
  border: 0 solid;
  border-radius: 80px;
  box-sizing: initial;
  height: 150px;
  margin: 0 auto 32px auto;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  width: 150px;
}
.biography-avatar:hover {
  box-shadow: 0px 0px 10px var(--accent-color);
  margin: 0 0 32px 0;
}
