.biography-company {
  color: var(--accent-text-color);
  display: inline-block;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 5px;
  overflow: hidden;
  padding: 3px 3px 3px 3px;
  position: relative;
  text-decoration: none;
}
.biography-company:after {
  background-color: var(--accent-text-color);
  bottom: 0;
  content: "";
  height: 2px;
  left: -1px;
  position: absolute;
  right: -1px;
  transform: translateX(-100%);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
.biography-company:hover:after {
  transform: translateX(0);
}
