.biography-social {
  border-radius: 50%;
  fill: var(--text-color);
  margin: 4px;
  padding: 8px;
}
.biography-social:hover {
  background-color: var(--background-dp2);
  fill: var(--accent-color);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}

.biography-social > * {
  display: block;
  height: 32px;
  width: 32px;
}
@media (prefers-reduced-motion: reduce) {
  .biography-social > * {
    opacity: 1;
    transition: none;
  }
}
