.blog-post-infos {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.blog-post-author {
  align-items: center;
  display: flex;
  font-family: var(--sans-serif);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 20px;
}
.blog-post-author-image {
  border-radius: 50%;
  height: 48px;
  margin-right: 16px;
}
.blog-post-author-name {
  color: var(--text-color);
}
.blog-post-author-date {
  color: var(--text-medium-color);
}
.blog-post-social {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 56px;
}

.blog-post-container {
  font-family: var(--serif);
  font-size: 21px;
  letter-spacing: -0.01em;
  line-height: 1.5;
  margin: auto;
  max-width: 712px;
  padding: 0 16px 64px 16px;
}
.blog-post img {
  max-width: 100%;
}
.blog-post h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 32px;
}
.blog-post h2 {
  color: var(--text-medium-color);
  font-family: var(--sans-serif);
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 32px;
  margin-bottom: -0.42em;
  margin-top: 24px;
}
.blog-post h3 {
  color: var(--text-color);
  font-family: var(--sans-serif);
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.03em;
  line-height: 1.12;
  margin-bottom: -0.28em;
  margin-top: 1.25em;
}
.blog-post h4 {
  color: var(--text-color);
  font-family: var(--sans-serif);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin-bottom: -8px;
  margin-top: 40px;
}
.blog-post footer {
  margin-top: 32px;
}

.blog-post figure {
  margin: 56px 0 0 0;
}
.blog-post figure img {
  display: block;
}

.blog-post figcaption {
  color: var(--text-medium-color);
  font-family: var(--sans-serif);
  font-size: 16px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 728px;
  text-align: center;
}

.blog-post p + figcaption {
  margin-top: -11px;
}

.blog-post a {
  color: inherit;
  text-decoration-color: var(--text-color);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
.blog-post a:hover {
  color: var(--accent-text-color);
  text-decoration-color: var(--accent-color);
}
.blog-post p {
  line-height: 32px;
}
.blog-post pre {
  background: var(--code-background);
  color: var(--text-color);
  display: block;
  font-family: var(--monospace);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.18;
  margin-bottom: -0.09em;
  margin-top: 56px;
  overflow-x: auto;
  padding: 20px;
}
.blog-post code {
  background-color: var(--code-background);
  font-family: var(--monospace);
  font-size: 75%;
  font-weight: 400;
  padding: 2px 4px;
}
.blog-post ul {
  margin: 0;
  padding: 0;
}
.blog-post li {
  font-size: 21px;
  letter-spacing: -0.003em;
  line-height: 32px;
  list-style-type: disc;
  margin-bottom: -0.46em;
  margin-left: 30px;
  margin-top: 1.05em;
  padding-left: 0px;
}
.blog-post blockquote {
  color: var(--text-medium-color);
  font-family: var(--serif);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.014em;
  line-height: 44px;
  margin-bottom: -0.46em;
  margin-top: 2.75em;
  padding-left: 30px;
}

@media (max-width: 750px) {
  .blog-post h1 {
    font-size: 32px;
  }
  .blog-post h2 {
    font-size: 20px;
    line-height: 26px;
  }
}
