.Date {
  font-size: 12px;
  font-style: italic;
  padding-left: 16px;
  white-space: nowrap;
}
.Talk {
  max-width: 100%;
  width: 560px;
}
.Talk:hover {
  color: var(--accent-color);
}
.TalkNoVideo:hover {
  color: inherit;
}
.Head {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: inherit;
  font-weight: 400;
  justify-content: space-between;
  margin: 0;
  padding: 12px 0;
}
.TalkNoVideo .Head {
  cursor: initial;
}
.Name {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.Video {
  display: block;
  margin: 12px 0 24px 0;
  max-width: 100%;
}
.Language {
  margin-right: 4px;
}
.Icons {
  display: flex;
  justify-content: flex-end;
  margin-left: 8px;
  width: 64px;
}
.Icon {
  display: block;
  margin-left: 8px;
}
.SlidesIcon {
  display: block;
  height: 24px;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  width: 24px;
}
.SlidesIcon:hover {
  fill: #f4b400;
}
.VideoIcon {
  display: block;
  height: 24px;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  width: 24px;
}
.VideoIcon:hover {
  fill: #ff0000;
}
