.InputTextarea {
  display: block;
  margin: 16px 0;
  position: relative;
  text-align: left;
}

.Label {
  color: var(--color-text-secondary);
  line-height: 64px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.Textarea {
  background-color: transparent;
  border: solid var(--color-border);
  border-radius: 0;
  border-width: 0 0 2px 0;
  box-sizing: border-box;
  color: var(--color-text);
  display: block;
  font-size: 1.1rem;
  line-height: 1.5em;
  min-height: 64px;
  outline: 0;
  padding: 24px 0 0 0;
  resize: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
  word-break: break-all;
}
.Textarea:focus,
.Textarea:focus-visible {
  border-color: var(--color-accent);
}

.HasValue + .Label,
.Textarea:focus + .Label,
.Textarea:focus-visible + .Label {
  color: var(--color-accent);
  line-height: 1em;
}
