.Video {
  background-color: var(--token-v2-color-background-alternative);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.VideoImageWrapper {
  aspect-ratio: 16 / 9;
  border-radius: 16px 16px 0 0;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.VideoImage {
  object-fit: cover;
}

.VideoContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 0 24px 24px 24px;
}

.VideoGiven {
  color: var(--token-v2-color-text-secondary);
  font-size: 0.875rem;
}

.VideoTitle {
  color: var(--token-v2-color-text-primary);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: 1.2;
  margin: 0;
}
.VideoDescription {
  color: var(--token-v2-color-text-secondary);
  flex-grow: 1;
  line-height: 1.5;
}

.VideoLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.VideoLink {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 8px;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.015em;
  padding: 0 16px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.VideoLink:hover {
  transform: scale(1.05);
}

.VideoYoutube {
  background-color: var(--token-v2-color-accent);
  color: var(--token-v2-color-accent-light);
}
