.content {
  padding: 0 16px;
}
.content-cols {
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  margin: auto;
  max-width: 1146px;
  padding: 0 24px;
}
