.resume-body {
  align-items: stretch;
  display: flex;
  height: 100vh;
}

@media (max-width: 1024px) {
  .resume-body {
    display: block;
  }
}
@media (max-width: 750px) {
  .resume-body {
    display: block;
  }
}
@media print {
  .resume-body {
    display: block;
  }
}
