.Button {
  background-color: var(--background-reverse);
  border: 1px solid var(--background-reverse);
  border-radius: 8px;
  color: var(--text-reverse-color);
  cursor: pointer;
  font-size: inherit;
  padding: 12px 16px;
}
.Button:hover {
  background-color: var(--background-dp1);
  color: var(--text-color);
}

.Outline {
  background-color: transparent;
  color: var(--background-reverse);
}
.Outline:hover {
  background-color: var(--background-reverse);
  color: var(--text-reverse-color);
}
