.CubicBezierBlock {
  position: relative;
}

.Legend {
  margin-top: 16px;
  text-align: center;
}
.Sample {
  background: var(--token-v2-color-accent);
  bottom: 0;
  height: 5px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: 0 0;
  transition-duration: 1s;
  transition-property: all;
  width: 100%;
}
.CubicBezierBlock:hover .Sample {
  transform: scale(1, 1);
}
