.BlogPostSocial {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  gap: 8px;
  justify-content: space-between;
  text-transform: uppercase;
}

.BlogPostSocialLink {
  text-decoration: none;
}
.BlogPostSocialLink:hover {
  text-decoration: underline;
}
