.Button {
  background-color: transparent;
  border: none;
  color: #ef5e23;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0;
}

.PopUpWrapper {
  background-color: #000000;
  bottom: 0;
  left: 0;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 0;
}
.PopUp {
  background-color: #0a213a;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding: 16px;
}

.PopUpCloseButton {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  fill: white;
  height: 48px;
  justify-content: center;
  padding: 8px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: background-color 0.2s ease-in-out;
  width: 48px;
}
.PopUpCloseButton:hover {
  background-color: #000000;
}

.PopUpTitle {
  font-size: 2rem;
  font-weight: 100;
  padding-right: 40px;
  text-align: center;
}

.PopUpContent {
  display: flex;
  gap: 16px;
  height: 80%;
  margin: auto;
  overflow-x: auto;
  scrollbar-color: #ef5e23 transparent;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  width: 100%;
}

.PopUpImage {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.PopUpDescription {
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 100;
  height: 100%;
  line-height: 1.5;
  max-width: 600px;
  overflow-y: auto;
  scrollbar-color: #ef5e23 transparent;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  width: 90%;
}

.PopUpDescription p:first-child {
  margin-top: 0;
}
.PopUpDescription ul {
  list-style-position: inside;
  list-style-type: "- ";
  margin: 0;
  padding: 0;
}
.PopUpDescription li {
  margin-bottom: 8px;
}

.Link {
  background-color: white;
  border-radius: 8px;
  color: #0a213a;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin: 32px auto;
  max-width: calc(100% - 64px);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.Link:focus,
.Link:hover {
  box-shadow: 0 0 8px 2px #ef5e23;
  color: #ef5e23;
}
