.Post {
  background-color: var(--token-v2-color-background-alternative);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.PostImageWrapper {
  height: 192px;
  overflow: hidden;
  position: relative;
}

.PostImage {
  object-fit: cover;
}

.PostContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}

.PostPublishedAt {
  color: var(--token-v2-color-text-secondary);
  font-size: 0.875rem;
}

.PostTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px 0 0 0;
}

.PostTitleLink {
  color: var(--token-v2-color-text-primary);
  display: block;
  text-decoration: none;
  width: 100%;
}

.PostDescription {
  color: var(--token-v2-color-text-secondary);
  flex-grow: 1;
  font-size: 0.75rem;
  margin: 8px 0 0 0;
}

.PostTags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  margin: 16px 0 0 0;
}

.PostTag {
  background-color: var(--token-v2-color-background);
  border-radius: 9999px;
  color: var(--token-v2-color-text-primary);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 4px 12px;
  white-space: nowrap;
}

.PostCanonical {
  border-top: 1px solid var(--token-v2-color-border-alternative);
  margin: 16px 0 0 0;
  padding: 16px 0 0 0;
}

.PostCanonicalLink {
  align-items: center;
  color: var(--token-v2-color-text-secondary);
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: 500;
  gap: 6px;
  text-decoration: none;
  transition: color 200ms ease;
}

.PostCanonicalLink:hover {
  color: var(--token-v2-color-text-accent);
}
