.Page {
  background-color: #0a213a;
  color: white;
  min-height: 100vh;
  padding: 32px;
}

.Logo {
  display: block;
  margin: 64px auto;
}

.Title {
  color: #09acd1;
  font-size: 4.5rem;
  font-weight: 100;
  letter-spacing: -0.1rem;
  line-height: 3.5rem;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-align: center;
}
.TitleAccent {
  color: #ef5e23;
  font-weight: 700;
  letter-spacing: -0.4rem;
}

.Skills {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  justify-content: center;
  margin-bottom: 32px;
}
.Skill {
  display: inline;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
}

.Projects {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  justify-content: center;
  margin-bottom: 32px;
}
.ProjectsTitle {
  font-size: 2rem;
  font-weight: 100;
  margin: 64px 0 0 0;
  text-align: center;
  width: 100%;
}
