.Page {
  background-color: #011c37;
  color: white;
  min-height: 100vh;
  padding: 32px;
}

.Logo {
  display: block;
  margin: auto;
}

.Title {
  color: #57dff8;
  font-size: 4.5rem;
  font-weight: 100;
  letter-spacing: -0.1rem;
  line-height: 3.5rem;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-align: center;
}
.TitleAccent {
  color: #fa4c09;
  font-weight: 700;
  letter-spacing: -0.4rem;
}

.Skills {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  justify-content: center;
  margin-bottom: 32px;
}
.Skill {
  display: inline;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
}

.Projects {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  justify-content: center;
  margin-bottom: 32px;
}
.ProjectsTitle {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 64px;
  text-align: center;
  width: 100%;
}
