.Button {
  background-color: var(--token-v2-color-accent);
  border: 0;
  border-radius: 16px;
  color: var(--token-v2-color-text-contrast);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  height: 40px;
  padding: 0 24px;
  transition: all 0.2s ease-in-out;
}
.Button:hover {
  transform: scale(1.05);
}
