body {
  --accent-color: rgb(171, 128, 77);
  --accent-text-color: hsl(33, 38%, 59%);
  --accent-color-light: rgb(171, 128, 77, 0.15);
  --accent-color-shadow: rgb(255, 255, 255, 0.1);
  --background: #020202;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-medium-color: rgba(255, 255, 255, 0.6);
  --text-reverse-color: rgba(0, 0, 0, 0.87);
  --background-dp1: rgb(255, 255, 255, 0.04);
  --background-dp2: rgb(255, 255, 255, 0.1);
  --white: rgba(0, 0, 0, 1);
  --code-background: rgba(255, 255, 255, 0.2);

  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --serif: Georgia, Cambria, Times, serif;
  --monospace: Menlo, Monaco, "Courier New", Courier, monospace;

  background-image: linear-gradient(
    180deg,
    var(--background) 0%,
    var(--accent-color) 1000%
  );
  color: var(--text-color);
  fill: var(--text-color);
  font-family: var(--sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  margin: 0;
  min-height: 100%;
  padding: 0 0 16px 0;
  position: relative;
}

body::after {
  background-color: var(--background);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media (prefers-color-scheme: light) {
  body {
    --accent-color: #ab804d;
    --accent-text-color: hsl(33, 38%, 39%);
    --accent-color-light: rgb(171, 128, 77, 0.2);
    --accent-color-shadow: rgb(171, 128, 77, 0.35);
    --background: rgb(255, 255, 255);
    --text-color: rgba(0, 0, 0, 0.87);
    --text-medium-color: rgba(0, 0, 0, 0.6);
    --text-reverse-color: rgba(255, 255, 255, 1);
    --background-dp1: rgba(255, 255, 255, 1);
    --background-dp2: rgba(0, 0, 0, 0.1);
    --white: rgba(255, 255, 255, 1);
    --code-background: rgba(0, 0, 0, 0.05);

    background-image: linear-gradient(
      180deg,
      var(--background) 0%,
      var(--accent-color) 800%
    );
  }
}

#root {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.content {
  padding: 0 16px;
}
.content-cols {
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
  margin: auto;
  max-width: 1146px;
  padding: 0 24px;
}

a .icon-twitter {
  display: block;
  fill: var(--text-color);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
a .icon-twitter:hover {
  fill: #00acee;
}

a .icon-linkedin {
  display: block;
  fill: var(--text-color);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
a .icon-linkedin:hover {
  fill: #0e76a8;
}

.appear {
  animation: 0.5s linear page forwards;
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  .appear {
    animation: none;
    opacity: 1;
  }
}
@keyframes appearIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
