body {
  --accent-color: rgb(171, 128, 77);
  --accent-text-color: hsl(33, 38%, 59%);
  --accent-color-light: rgb(255, 255, 255, 0.04);
  --background: #020202;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-medium-color: rgba(255, 255, 255, 0.6);
  --text-reverse-color: rgba(0, 0, 0, 0.87);
  --background-dp1: rgb(255, 255, 255, 0.04);
  --background-dp2: rgb(255, 255, 255, 0.1);
  --white: rgba(0, 0, 0, 1);

  background-color: var(--background);
  background-image: linear-gradient(
    180deg,
    var(--background) 0%,
    var(--accent-color) 1000%
  );
  color: var(--text-color);
  fill: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  body {
    --accent-color: #ab804d;
    --accent-text-color: hsl(33, 38%, 39%);
    --accent-color-light: rgb(171, 128, 77, 0.15);
    --background: rgb(255, 255, 255);
    --text-color: rgba(0, 0, 0, 0.87);
    --text-medium-color: rgba(0, 0, 0, 0.6);
    --text-reverse-color: rgba(255, 255, 255, 1);
    --background-dp1: rgba(255, 255, 255, 1);
    --background-dp2: rgba(0, 0, 0, 0.1);
    --white: rgba(255, 255, 255, 1);
    background-image: linear-gradient(
      180deg,
      var(--background) 0%,
      var(--accent-color) 800%
    );
  }
}

#root {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.content {
  padding: 0 16px;
}

.page-enter {
  opacity: 0;
  transform: scale3d(0.9, 0.9, 0.9);
  will-change: opacity, transform, transition;
}
.page-enter.page-enter-active {
  opacity: 1;
  position: absolute;
  transform: scale3d(1, 1, 1);
  transition: all 150ms cubic-bezier(0, 0, 1, 1) 150ms;
}
.page-exit {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  will-change: opacity, transform;
}
.page-exit.page-exit-active {
  opacity: 0;
  position: absolute;
  transform: scale3d(1.75, 1.75, 1.75) translate3d(0, 25%, 0);
  transition: all 150ms cubic-bezier(0, 0, 1, 1);
}
@media (prefers-reduced-motion: reduce) {
  .page-enter.page-enter-active,
  .page-exit.page-exit-active {
    opacity: 1;
    transform: none;
    transition: none;
  }
}
