.About {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  padding: 40px 16px 16px 16px;
}

.Biography {
  max-width: 400px;
  padding: 32px 0 0 0;
}

.BiographyEmoji {
  display: block;
  flex-basis: 48px;
  flex-grow: 0;
  flex-shrink: 0;
}

.BiographyLine {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 0;
}
.BiographyLine:first-child {
  border-bottom: 0;
  padding-top: 0;
}
.BiographyLine:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.BiographyLink {
  color: var(--accent-color);
  display: inline-block;
  line-height: 1.5;
  margin: 0 5px;
  overflow: hidden;
  padding: 3px 3px 3px 3px;
  position: relative;
  text-decoration: none;
}
.BiographyLink:after {
  background-color: var(--accent-color);
  bottom: 0;
  content: "";
  height: 3px;
  left: -1px;
  position: absolute;
  right: -1px;
  transform: translateX(-100%);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
@media (prefers-reduced-motion: reduce) {
  .BiographyLink:after {
    transition: none;
  }
}
.BiographyLink:hover:after {
  transform: translateX(0);
}

.BiographySkill {
  display: inline-block;
  line-height: 1.5;
  padding: 3px 19px 3px 3px;
  white-space: nowrap;
}

.Social {
  padding: 12px;
}

.SocialIcon {
  display: block;
  fill: var(--text-medium-color);
  height: 32px;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  width: 32px;
}
@media (prefers-reduced-motion: reduce) {
  .SocialIcon {
    transition: none;
  }
}
.SocialIcon:hover {
  fill: var(--accent-color);
}
