.Articles {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 32px 16px 16px 16px;
  position: absolute;
}
.Article {
  align-items: center;
  border-bottom: 1px solid rgba(0, 80, 0, 0.1);
  color: inherit;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  text-decoration: none;
  width: 100%;
}
.Article:first-child {
  border-top: 1px solid rgba(0, 80, 0, 0.1);
}
.Article:hover {
  color: rgb(0, 80, 0);
}
.Date {
  font-size: 12px;
  font-style: italic;
  padding-left: 16px;
  white-space: nowrap;
}
