.Articles {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-width: 100%;
  padding: 48px 16px 16px 16px;
  position: absolute;
  transform: translateX(-50%);
  width: 600px;
}
.Article {
  align-items: center;
  border-bottom: 1px solid rgba(54, 48, 39, 0.1);
  color: inherit;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  text-decoration: none;
  width: 100%;
}
.Article:first-child {
  border-top: 1px solid rgba(54, 48, 39, 0.1);
}
.Article:hover {
  color: rgb(118, 89, 53);
}
.Date {
  font-size: 12px;
  font-style: italic;
  padding-left: 16px;
  white-space: nowrap;
}
