.tags {
  margin-bottom: 48px;
}
.tag {
  color: inherit;
  margin-right: 8px;
  text-decoration: none;
}
.tag:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}
.tag::before {
  color: var(--accent-color);
  content: "#";
}

.Content {
  margin: auto;
  max-width: 700px;
  padding: 32px 16px 40px 16px;
  text-align: center;
}
