.Columns {
  display: grid;
  gap: 0 16px;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
}
.Cols2 {
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
}
.Cols3 {
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
}
.Cols4 {
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
