.resume-social-link__wrapper {
  display: inline-block;
  height: 40px;
}
.resume-social-link {
  color: var(--accent-color);
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 4px;
  text-transform: uppercase;
}
