.detail-card {
  background-color: var(--background-dp1);
  border-radius: 8px;
  box-shadow: 0px 0px 10px var(--accent-color-light);
  color: inherit;
  cursor: pointer;
  display: block;
  margin: 0 auto 16px auto;
  max-width: 100%;
  outline: 0;
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  width: 400px;
}
.detail-card[href] {
  cursor: pointer;
}
.detail-card:focus {
  box-shadow: 0px 0px 10px var(--accent-color);
}

.detail-card__image {
  border-radius: 8px 8px 0 0;
  margin: -16px 0 0 -16px;
  max-width: calc(100% + 32px);
}
