.FooterTheme {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  outline: 0;
  padding: 4px;
}
.spring {
  color: var(--primitive-color-shamrock-400);
}
.summer {
  color: var(--primitive-color-my-sin-500);
}
.fall {
  color: var(--primitive-color-ecstasy-500);
}
.winter {
  color: var(--primitive-color-azure-radiance-500);
}
