.FooterTheme {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  outline: 0;
  padding: 4px;
}

.Icon {
  fill: var(--text-color);
}
[data-theme="spring"] .Icon {
  fill: var(--primitive-color-shamrock-400);
}
[data-theme="summer"] .Icon {
  fill: var(--primitive-color-my-sin-500);
}
[data-theme="fall"] .Icon {
  fill: var(--primitive-color-ecstasy-500);
}
[data-theme="winter"] .Icon {
  fill: var(--primitive-color-azure-radiance-500);
}
