.HeaderLinksDropdown {
  height: 36px;
  position: relative;
  width: 36px;
}

.HeaderLinksDropdownButton {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.HeaderLinksDropdownButtonIcon {
  color: var(--token-v2-color-accent);
}

.HeaderLinksDropdownContent {
  display: none;
  position: absolute;
}

.HeaderLinksDropdown:focus-within .HeaderLinksDropdownContent,
.HeaderLinksDropdown:hover .HeaderLinksDropdownContent {
  backdrop-filter: blur(8px);
  background-color: color-mix(
    in srgb,
    var(--token-v2-color-background) 95%,
    transparent
  );
  border-radius: 16px;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  position: absolute;
  right: 0;
  top: 24px;
}
