.StreamlineCard {
  border-radius: 16px;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
}
.StreamlineCard.isOpened,
.StreamlineCard:hover {
  background-color: var(--color-background-hover);
}
.Clickable {
  cursor: pointer;
}
.ImageWrapper {
  background-color: var(--bubble-card-background);
  border-radius: 8px;
  flex-shrink: 0;
  height: 200px;
  position: relative;
  width: 100%;
}
.Image {
  object-fit: contain;
}
.Title {
  margin: 0 0 16px 0;
}
.Description {
  line-height: 1.5;
  margin-bottom: 16px;
}
.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}
.Published {
  color: var(--color-text-secondary);
  font-size: 0.85rem;
  font-style: italic;
  margin-left: 8px;
}
.Code {
  white-space: break-spaces !important;
}
