.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.Form {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .Form {
    grid-template-columns: 1fr;
  }
}
