.Footer {
  background: var(--background);
  border-top: 1px solid var(--border-color);
  padding: 60px 8vw;
}
.FooterContent {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  justify-items: center;
  margin: auto;
  max-width: 600px;
}
.FooterSocial {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.FooterTheme {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
