.FooterSocial {
  border-radius: 50%;
  fill: var(--text-color);
  margin: 4px;
  padding: 8px;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
.FooterSocial:hover {
  background-color: var(--background-dp2);
  fill: var(--accent-color);
}

.FooterSocial > * {
  display: block;
  height: 32px;
  width: 32px;
}
