.FooterLink {
  align-items: center;
  color: var(--text-color);
  display: flex;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 200px;
}
.FooterLink:hover {
  text-decoration: underline;
}
@media (max-width: 519px) {
  .FooterLink {
    width: 100%;
  }
}
