.Picture {
  border: 4px solid var(--token-v2-color-accent);
  border-radius: 50%;
  height: 144px;
  margin: auto;
  margin-bottom: 6px;
  padding: 4px;
  width: 144px;
}

.PictureImage {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
