.Post {
  background-color: var(--token-v2-color-background);
  border-radius: 16px;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
}

.PostImageContainer {
  aspect-ratio: 5 / 3;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.PostImage {
  object-fit: cover;
}

.PostContent {
  padding: 0 24px 24px 24px;
}

.PostTitle {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 4px;
}

.PostDescription {
  color: var(--token-v2-color-text-secondary);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 8px;
}

.PostDate {
  color: var(--token-v2-color-accent);
  font-size: 0.875rem;
  font-weight: 500;
}
