.Project {
  background-color: var(--token-v2-color-background);
  border: solid 2px var(--token-v2-color-border-alternative);
  border-radius: 16px;
  padding: 24px;
  position: relative;
  text-decoration: none;
}

.Project:hover {
  border-color: var(--token-v2-color-accent);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.ProjectIcon {
  position: absolute;
  right: 16px;
  top: 16px;
  transition: transform 0.3s ease-in-out;
}

.Project:hover .ProjectIcon {
  transform: rotate(45deg);
}

.ProjectTitle {
  color: inherit;
  font-family: var(--token-v2-font-heading);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.ProjectDescription {
  color: var(--token-v2-color-text-secondary);
}
