.Avatar {
  border: 0 solid;
  border-color: rgb(26, 118, 64) rgb(32, 207, 121) rgb(78, 196, 128) rgba(0, 80, 0, 0.8);
  border-radius: 75px;
  box-sizing: initial;
  height: 150px;
  margin: 4px;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
  width: 150px;
}
.Avatar:hover {
  border-width: 4px;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  .Avatar {
    transition: none;
  }
}
