.Filter {
  align-items: center;
  background-color: var(--token-v2-color-background-alternative);
  border: 0;
  border-radius: 9999px;
  color: var(--token-v2-color-text-secondary);
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  gap: 8px;
  height: 32px;
  padding: 0 16px;
  transition: all 0.2s ease-in-out;
}
.Filter:hover {
  background-color: var(--token-v2-color-background-hover);
}
.Active {
  background-color: var(--token-v2-color-accent);
  color: var(--token-v2-color-text-contrast);
}
.Active:hover {
  background-color: var(--token-v2-color-accent-hover);
}
.Filter svg {
  height: 20px;
  margin-right: 8px;
  width: 20px;
}
