.Tool {
  background-color: var(--token-v2-color-background-alternative);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.Tool:hover {
  transform: scale(1.02);
}

.ToolImageWrapper {
  align-items: center;
  border-radius: 16px 16px 0 0;
  bottom: 0;
  color: var(--token-v2-color-text-secondary);
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  overflow: hidden;
  padding: 24px 24px 24px 24px;
  position: absolute;
  right: 0;
}

.ToolContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 24px;
}

.ToolTitle {
  color: var(--token-v2-color-text-primary);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: 1.2;
  margin: 0;
}

.ToolDescription {
  color: var(--token-v2-color-text-secondary);
  flex-grow: 1;
  line-height: 1.5;
  margin: 0;
}

.ToolLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}

.ToolLink {
  align-items: center;
  background-color: var(--token-v2-color-accent);
  border: 0;
  border-radius: 8px;
  color: var(--token-v2-color-text-contrast);
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 8px;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.015em;
  padding: 0 16px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.ToolLink:hover {
  transform: scale(1.05);
}
