.Header {
  align-items: center;
  background: linear-gradient(to bottom, rgb(171, 128, 77, 0.1), rgb(171, 128, 77, 0.2));
  display: flex;
  height: 88px;
  justify-content: center;
  padding-top: 48px;
}
.Links {
  max-width: 100%;
  overflow: auto;
  padding: 0 16px;
  white-space: nowrap;
  width: 442px;
}
