.Wrapper {
  display: inline-block;
  height: 60px;
}
.HeaderLink {
  align-items: center;
  border-radius: 3px;
  color: var(--text-color);
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  line-height: 40px;
  margin: 0 4px;
  outline: 0;
  padding: 0 16px;
  position: relative;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}

@media (prefers-reduced-motion: reduce) {
  .HeaderLink {
    transition: none;
  }
}

@media (hover: hover) {
  .HeaderLink:hover {
    background-color: var(--background-dp2);
    height: calc(100% - 16px);
    margin-top: 8px;
  }
}

.HeaderLink.HeaderLinkActive {
  background-color: var(--accent-color);
  color: var(--text-reverse-color);
  cursor: initial;
}

.External {
  fill: var(--text-color);
  height: 12px;
  padding-right: 4px;
  width: 16px;
}
