.Link {
  color: var(--color-accent);
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0.5rem 1.5rem;
  outline: 0;
  text-decoration: none;
}
.Link:hover {
  text-decoration: underline;
}
