.Title {
  background: linear-gradient(120deg, var(--accent-color), var(--text-color));
  background-clip: text;
  font-size: clamp(2rem, 5vw, 4rem);
  -webkit-text-fill-color: transparent;
}

.Text {
  background-clip: initial;
  color: var(--text-color);
  display: inline-block;
  position: relative;
  text-decoration: none;
  -webkit-text-fill-color: initial;
  z-index: 1;
}
.Text::before {
  background-color: var(--accent-color);
  bottom: -5px;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  transform: scaleX(0) skew(-45deg, 0deg);
  transform-origin: 25%;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  z-index: -1;
}
.Text:hover::before {
  transform: scaleX(1) skew(-45deg, -1deg);
}
