.Wrapper {
  margin-top: 32px;
}

.Grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .Grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.MainInput {
  margin-bottom: 16px;
}

.Results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
