.Title {
  color: var(--token-v2-color-accent);
  font-family: var(--token-v2-font-handwritten);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1;
  margin: 0;
  transform: rotate(-1deg);
}
