.TitleSecondary {
  color: var(--token-v2-color-accent);
  font-family: var(--token-v2-font-handwritten);
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  margin: 2rem 0;
  transform: rotate(-1deg);
}
