.Project {
  background-color: var(--token-v2-color-background-alternative);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ProjectImageWrapper {
  aspect-ratio: 16 / 9;
  border-radius: 16px 16px 0 0;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.ProjectImage {
  object-fit: cover;
}

.ProjectContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 0 24px 24px 24px;
}

.ProjectTitle {
  color: var(--token-v2-color-text-primary);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: 1.2;
  margin: 0;
}

.ProjectDescription {
  color: var(--token-v2-color-text-secondary);
  flex-grow: 1;
  line-height: 1.5;
  margin: 0;
}

.ProjectDescription p {
  margin: 0 0 8px 0;
}

.ProjectDescription p:last-child {
  margin-bottom: 0;
}

.ProjectLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
}

.ProjectLink {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 8px;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.015em;
  padding: 0 16px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.ProjectLink:hover {
  transform: scale(1.05);
}

.ProjectVisit {
  background-color: var(--token-v2-color-accent);
  color: var(--token-v2-color-accent-light);
}
