.Layout {
  align-items: stretch;
  display: flex;
  height: 100vh;
}

@media (max-width: 1024px) {
  .Layout {
    display: block;
  }
}
@media (max-width: 750px) {
  .Layout {
    display: block;
  }
}
@media print {
  .Layout {
    display: block;
  }
}
